 <style>

.homeslider {
  margin-top: 80px;
}

.carousel {
position: relative;
top: 15px;
}



    .carousel-item{
      min-height:600px;
      background:no-repeat center center scroll;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}

    .carousel-inner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 150px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  color: #fff;
  text-align: center;
}

.capttxt {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Exo 2', sans-serif;
  text-align: right;
}

.divederlined {
  height: 1.5px;
  background-color: #010b48; 
}

.divederlineder {
  height: 1.5px;
  background-color: #ffffff; 
}

zoomin img {
  height: 110px;
  width: 110px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.zoomin img:hover {
  width: 180px;
  height: 180px;
}

.image-box{
  width:100%;
  overflow:hidden;
}
.image {
  width:100%;
  height:400px;
  
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1534510714/IMG_4115try_ec0i5b.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
} 

.image1 {
  width:100%;
  height:400px;
  
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1534499358/partnershipcover5_uffvhb.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image1:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
} 

.image2 {
  width:100%;
  height:400px;
  
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1534499876/partnershipcover15_xuqlvb.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image2:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
} 

.image3 {
  width:100%;
  height:400px;
 
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1534499370/partnershipcover1_l1ult8.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image3:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
} 

.image4 {
  width:100%;
  height:400px;
 
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(https://www.giveasyoulive.com/images/bitmap/ways-to-raise/giveasyou-donations.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image4:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
} 

.housedescribe{
  text-align: center;
}

.housedescribe a{
  text-align: center; 
  position:relative; 
  top: 200px;
  font-size: 18px;
  color: white;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 2px;
  border: 3px solid #ffffff;
  padding: 15px;
}

.housedescribe a:hover{
  text-align: center; 
  position:relative; 
  top: 200px;
  font-size: 18px;
  color: white;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 2px;
  border: 3px solid #fdbd1e;
  padding: 15px;
}

.calltoaction{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.ctahold {
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 50px;
  background-color: #ffffff;
}

.famwantyousecthome{
  font-family: 'Righteous', cursive; 
  color: white; 
  font-size: 50px; 
  text-shadow: 1px 0px 6px rgba(150, 150, 150, 1);
  position: relative;
  top: 180px;
  text-align: center;
}

.calltoactionhead{
   font-family: 'Righteous', cursive; 
  color: white; 
  font-size: 35px; 
  text-align: center;
}

.famwantyousecthome2{
  font-family: 'Asap Condensed', 
  sans-serif; 
  letter-spacing: 2px;
  position: relative;
  top: 190px;
  text-align: center;
  color: #ffffff;
}

.calltoactionheadsub{
  font-family: 'Asap Condensed', 
  sans-serif; 
  letter-spacing: 2px;
  text-align: center;
  color: #333333;
}

.ctabutton {
  background-color: #7fd71e;
  border: 2px solid #f2d308;
  border-radius: 2px;
}

.ctabutton:hover {
  background-color: #7fd71e;
}

.ctabutton:active {
  background-color: #7fd71e;
}

.worksdivider {
  background-color: white;
  height: 1.5px;
}

.btnhomeslider {
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.btnhomeslider:hover {
  background-color: transparent;
  border: 1.5px solid #fdbd1e;
  border-radius: 10px;
  color: #fdbd1e;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.btnhomeslider:active {
  background-color: transparent;
  border: 1.5px solid #fdbd1e;
  border-radius: 10px;
  color: #fdbd1e;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.newsletterholder {
  background-color: #437356;
}

.capttxt{
  font-size: 50px;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 70px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  color: #fff;
  text-align: center;
}

.capttxt{
  font-size: 40px;
}

}

</style>

 <section class="homeslider">
   <header>

 
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item active" style="background:linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://res.cloudinary.com/nikasemo/image/upload/v1534499358/partnershipcover5_uffvhb.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65); text-align: left;">Welcome to<br> The Graced Life Partners' Village</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">"For we are partners working together for God..." ~ 1 Corinthians 3:9 GNT</p>
              <p style="text-align: left;"><a href="/aboutus" class="btn btn-primary btn-lg btnhomeslider">Learn More</a></p>
            </div>
          </div>


          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://res.cloudinary.com/nikasemo/image/upload/v1534499876/partnershipcover15_xuqlvb.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65); text-align: left;">Become a <Strong>Kingdom</Strong> Working Partner.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">"For we are labourers together with God..." ~ 1 Corinthians 3:9 KJV</p>
              <p style="text-align: left;"><a href="/fulltime" class="btn btn-primary btn-lg btnhomeslider">Apply Now</a></p>
            </div>
          </div>
         
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="
          background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://res.cloudinary.com/nikasemo/image/upload/v1534499370/partnershipcover1_l1ult8.jpg);"
          >
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65); text-align: left;">Become a <Strong>Kingdom</Strong> Financial Partner.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">"O Lord our God, all this wealth that we have provided for building You a house for Your Holy Name comes from Your hand; everything belongs to You" ~ 1 Chronicles 29:16 </p>
              <p style="text-align: left;"><a href="https://rave.flutterwave.com/pay/onetimedonation" class="btn btn-primary btn-lg btnhomeslider">Give</a></p>
            </div>
          </div>
          
           <!-- Slide Two - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="
           background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://res.cloudinary.com/nikasemo/image/upload/v1534499364/partnershipcover2_qzmdhf.jpg);">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65); text-align: left;">Building the Kingdom of God on Earth.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">“Until the kingdoms of this world become the kingdoms of our Lord and of His Christ.” - Revelation 11:15</p>
             
            </div>
          </div>


          <!-- Slide Two - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('https://res.cloudinary.com/nikasemo/image/upload/v1534499450/partnershipcover3_d4ngsj.jpg')">
            <div class="carousel-caption d-md-block">
             <h3 class="capttxt" style="text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65); text-align: left;">Thank you for partnering with us.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">"Yes," Jesus replied, "and I assure you that everyone who has given up house... or property, for my sake and for the Good News, will receive now in return a hundred times as many houses... and property... And in the world to come that person will have eternal life." - Mark 10:29-30 NLT.</p>
              
            </div>
          </div>

      
         
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
 </section>


<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Exo 2', sans-serif; text-align: left; color: #437356; font-size: 25px;" class="js-reveal">
         Welcome to The Graced Life Partners' Village</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           The GRACED LIFE Partner’s Village is a community of working and financial partners of THE GRACED LIFE KINGDOM, labouring together with God to fulfil His work with The Graced Life Kingdom in advancing and establishing His Kingdom on earth through Jesus Christ. The Kingdom recognises its workers as “Partners” and its leaders as “Servants”. Financing the Kingdom and its branches comes from its financial partners and donors, including contribution from sub-branches. The Partner’s Village draws its inspiration from the words of the Apostle Paul in 1 Corinthians 3:9, which says, “For we are labourers together with God: ye are God’s husbandry, ye are God’s building.”
           </p>
          </div>
          <div class="col-lg-3 col-sm-12">
            <img src="gracedlifepartnershipvillagenewlogweb.png" width="200px" height="200px" class="img-fluid">
          </div>
        </div>
      </div>
    </section>


 <section class="js-reveal newsletterholder" style="padding: 40px; margin-bottom: 20px;">
       
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2">
        <h3 style="font-family: 'Poppins', sans-serif; text-align: center; color: #ffffff;" class="js-reveal">
      Partner with The Graced Life Kingdom 
      </h3>
      <hr align="center" width="10%" class="divederlineder">
       <p style="font-weight: 300; font-size: 14px; text-align: center; color: #ffffff; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           Support us to build God's Kingdom on earth, across all sectors of life.
         </p>
      <p style="text-align: center;">
        <a href="/onetimedonorhere" class="btn btn-primary btnhomeslider">Become a Financial Partner</a>
        <a href="/parttime" class="btn btn-primary btnhomeslider">Become a Working Partner</a>
      </p>

    </div>
    </div>
    </div>
  
</section>

<section>
      <div class="row no-gutters">
      <div class="col-sm-8 zoomimgbg1">
       <div class="image-box">
  <div class="image">
    <h3 class="housedescribe">
    <a href="/" style="text-decoration:none;">Activites</a>
    </h3>
  </div>
</div>
      </div>
      <div class="col-sm-4 zoomimgbg2">
       <div class="image-box">
  <div class="image1">
    <h3 class="housedescribe" style="">
    <a href="/aboutus" style="text-decoration:none;">About Us</a>
    </h3>
  </div>
</div>
      </div>
      <div class="col-sm-4 zoomimgbg3">
       <div class="image-box">
  <div class="image2">
    <h3 class="housedescribe" style="">
    <a href="/fulltime" style="text-decoration:none;">Working Partners</a>
    </h3>
  </div>
</div>
</div>
<div class="col-sm-4 zoomimgbg3">
       <div class="image-box">
  <div class="image3">
    <h3 class="housedescribe" style="">
    <a href="/monthlydonorhere" style="text-decoration:none;">Financial Partners</a>
    </h3>
  </div>
</div>
</div>
<div class="col-sm-4 zoomimgbg3">
       <div class="image-box">
  <div class="image4">
    <h3 class="housedescribe" style="">
    <a target="_blank" href="https://rave.flutterwave.com/pay/onetimedonation" style="text-decoration:none;">Give</a>
    </h3>
  </div>
</div>
</div>
</div>

      </div>
     </section>