
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #437356; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(IMG_4128.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Rubik', sans-serif; 
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Rubik', sans-serif; 
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <h1 style="font-family: 'Exo 2', sans-serif;" class="aduinsh1">
              Donate to The Graced Life Kingdom
            </h1>
           <!--  <p style="" class="aduinsp1">
              To be the best in business education and business research in Africa
            </p> -->
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Exo 2', sans-serif; text-align: left; color: #437356; font-size: 25px;" class="js-reveal">
         Become a Monthly Donor partner to the Graced life Kingdom</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           “The kingdom of heaven [that is, the kingdom of God] is like treasure hidden in a field, which a man found and covered up. Then in his joy he goes and sells all that he has and buys that field.” -  Matthew 13:44
            <br><br>
            This is what we seek to achieve as The Graced Life Kingdom. Better than democracy, God's will is to build His Kingdom on earth BY US, OF US and FOR US. That's why money won't fall from heaven, like manna, for the things the church has to do. Therefore, the resources for His work on earth has to come from Him through His people Because we are that channel through which God passes His resources for His work on earth.
            <br><br>
            Your kind and willing offering to The Graced Life Kingdom helps us to fulfil this assignment on earth; to make the kingdoms of this world the kingdoms of our Lord and of His Christ (Revelation 11:15), where there is neither poverty nor evil, injustice nor selfishness, but faith, hope, love and salvation for all people.
            <br>
            You can partner with God concerning this vision by making a donation to The Graced Life Kingdom through these avenues:<br><br>
            <Strong>Bank</Strong><br>
            Bank Name: GCB Bank<br>
            Bank Branch: Spintex Road<br>
            Accoutn Name: The Graced Life Kingdom<br><br>
            <Strong>Account numbers</Strong><br>
            Cedi Account: 1381180000319<br>
            Dollar Account: 1381500000020<br>
            Pounds Account:1381500000031<br>
            Euro Account: 1381500000042<br><br>
            <Strong>MTN Mobile Money:</Strong> 0558515065<br><br>
            You can also parntner this vision as a monthly donor by clicking the button below.
         </p>
           <p><a href="https://rave.flutterwave.com/pay/monthly-donation" class="btn btn-success">Donate Today</a></p>
          </div>
          <div class="col-lg-3 col-sm-12">
            <img src="gracedlifepartnershipvillagenewlogweb.png" width="200px" height="200px" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
